@import "../utilities/variables";

.gow {
  display: flex;
  flex-direction: column;
  gap: 20px;

  padding: 20px 25px;

  margin: auto;
  width: 100%;
  max-width: 1050px;

  .gow__information {
    display: flex;
    flex-direction: column;
    gap: 10px;

    @media only screen and (min-width: $tablet-sm) {
      flex-direction: row;
    }
  }

  .gow__images {
    display: flex;
    flex-direction: column;
    gap: 10px;

    @media only screen and (min-width: $tablet-sm) {
      flex-direction: row;
    }
  }
}

iframe {
  width: 100%;
}

.gow__images__image {
  width: 100%;
}