@import "../utilities/variables";

.gow {
  display: flex;
  flex-direction: column;
  gap: 20px;

  padding: 20px 25px;

  margin: auto;
  width: 100%;
  max-width: 1050px;

  .gow__information {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .gow__information__text {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .gow__information__text__title {
        font-size: 2rem;
        font-weight: bold;
        color: $primary-violet;
      }

      .gow__information__text__tags {
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 10px;

        overflow: auto;

        .gow__information__text__tags__tag {
          width: 100%;
          font-size: .875rem;
          font-weight: 700;
          white-space: nowrap;
          padding: 5px 25px;
          border-radius: 10px;
          color: white;
          text-align: center;
          background-color: $secondary-violet;
        }

        @media only screen and (min-width: $tablet-sm) {
          display: grid;
          grid-template-columns: repeat(4, 1fr);
        }
      }

      @media only screen and (min-width: $tablet-sm) {
        width: 50%;
      }
    }

    .gow__information__video {
      width: 100%;
      aspect-ratio: 16/9;
    }

    @media only screen and (min-width: $tablet-sm) {
      flex-direction: row;
    }
  }

  .gow__images {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .gow__images__image {
      width: 100%;
      aspect-ratio: 16/9;
      object-fit: cover;

      @media only screen and (min-width: $tablet-sm) {
        width: 320px;
      }
    }
    
    @media only screen and (min-width: $tablet-sm) {
      overflow: scroll;
      flex-direction: row;
    }
  }
}